/* course-html-css-js/lessons/62-1-lesson-39-1/styles/styles.css */
.h-full {
  min-height: 100%;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #25252535;
  height: 100vh;
  width: 100vw;
}

.modal-body {
  background: var(--color-bright);
  border-radius: 1rem;
  width: 512px;
}
