/* course-html-css-js/homeworks/homework-17/styles/styles.scss */

// Задание 1.
/* Создать переменную и использовать ее в стилях. Требования: Создайте переменную с именем 
primary-color и присвойте ей значение #FF0000. Используйте переменную primary-color для установки 
цвета текста в элементе с классом .heading. */
$primary-color: #ff0000;

.heading {
  color: $primary-color;
}
