/* course-html-css-js/lessons/59-2-lesson-38-2/styles/styles.css */

input.search {
  padding: 0.5rem 2.5rem;
  width: 100%;
  margin-bottom: 0;
}

#search-content {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  max-height: calc(100dvh - 18rem);
  overflow: scroll;
}
