/* course-html-css-js/projects/corp-todo-viewer/styles/corp-todo-viewer.css */

#app-todo {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 1rem;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.app-container {
  max-width: 768px;
  width: 100%;
  /* min-width: 320px; */
  height: 100%;
  margin: 0 auto;
}

input#todos-search {
  border-radius: 9999px;
  background: var(--color-accent);
  border: 2px solid var(--color-bg);
  color: var(--color-elevated);
  font-size: var(--font-sm);
}

select {
  text-align: center;
  border-radius: 9999px;
  border: 2px solid var(--color-bg);
  width: 100%;
  height: 100%;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 0 2.5rem 0 1rem;
  /* overflow: hidden; */
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: var(--font-sm);
  font-weight: 500;
  /* min-height: 2.5rem; */
  min-width: 2.5rem;

  background-color: var(--color-accent);
  color: var(--color-bg);

  /* background-image: url("/assets/icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: right 0.25rem center;
  background-size: 2rem; */
  cursor: pointer;
}

/* ===== Фильтр задач ===== */
#todos-filter {
  width: 100%;
  display: inline-flex;
  border: 2px solid var(--color-accent);
  border-radius: 9999px;
  overflow: hidden;
  font-size: var(--font-sm);
  gap: 0.25rem;
  /* box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.225); */
}

/* Скрываем дефолтный radio */
#todos-filter .filter input[type='radio'] {
  display: none;
}

/* Кнопка-фильтр */
#todos-filter .filter {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  border-radius: 9999px;
  color: var(--color-accent);
  gap: 0.25rem;
  font-weight: 500;
  /* border: none; */
  border: 2px solid transparent;
}

/* Визуальное вид выбранного фильтра */
#todos-filter .filter:has(input:checked) {
  border: 2px solid var(--color-bg);
  background: var(--color-accent);
  color: var(--color-text-inverse);
}

#todos-filter .filter:last-of-type {
  border-right: 2px solid transparent;
}
/* ===== Фильтр задач END ===== */

#todos-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  /* column-count: 4; */
  gap: 1rem;
  /* grid-auto-rows: masonry; */
  grid-auto-flow: dense; /* Заполняет пробелы */
  column-fill: auto; /* Заполнение по высоте */
}

.todo-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  break-inside: avoid; /* Не ломать элемент */
  padding: 0.75rem 0.875rem 0.75rem 1rem;
  border-radius: 1.25rem;
  background: var(--color-bg-accent);
}
.todo-card.completed {
  opacity: 0.5;
}

.todo-card.completed .todo-title {
  text-decoration: line-through;
}

.stats {
  margin-top: 1rem;
}

@media (max-width: 767px) {
  #todos-filter {
    flex-direction: column;
    border-radius: 1.25rem;
  }

  select {
    min-height: 2.5rem;
  }
}
