/* styles/other.css */
/* Кастомные стили для различных задач */

/* Sticky header с подложкой (START) */
/* Нужно оборачивать все заголовки в div с классом heading-with-backplate */
h1,
h2,
h3,
h4,
h5,
h6 {
  position: sticky;
  top: 0;
  margin: 0 !important; /* Так как для заголовков применяется div обертка с отступами, то отступы в самих заголовках не нужны */
}

/* 
Возможно этот блок вызовет вопросы. Выглядит немного как костыль.
Смысл в том что если убрать фон то можно увидеть, что при разном размере текста заголовков нижняя граница
текста (baseline) находится у всех на одном уровне. Пытался реализовать именно такую задачу ранее и ничего
другого не придумал. Буду благодарен если подскажете какое-то более красивое решение.
*/
.heading-with-backplate {
  min-height: 5rem;
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.375em;
  line-height: 2.5rem;
  background-color: #f5f5f5;
}
/* Sticky header с подложкой (END) */
