/* styles/styles.css */

@import url('globals.css');
@import url('fonts.css');
@import url('utilities.css');
@import url('buttons.css');
@import url('prose.css');

.container {
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 768px;
}

header {
  /* position: absolute; */
  top: 0;
  left: 0;
  padding: 1rem 0;
  z-index: 9999;
}

header .container {
  max-width: none;
}

header nav > ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

header a {
  color: var(--color-text);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
header a:hover,
header a:hover > span {
  color: var(--color-secondary);
  /* text-decoration: underline; */
}

a,
span {
  line-height: inherit;
  display: inline-block;
}

#header {
  padding: 1rem 0;
  z-index: 9999;
}

/* ===== START ===== */
#hero-bg {
  position: absolute;
  min-height: 100dvh;
  width: 100%;
  top: 0;
  left: 0;
  /* background-image: url("/assets/images/hero-bg.png"); */
  background: linear-gradient(
    to bottom right,
    rgba(233, 77, 53, 0.175),
    rgba(20, 45, 69, 0.05),
    transparent
  );
  z-index: -9999;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 4.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: calc(320px - 4rem);
}
form.hidden {
  display: none;
}

label {
  position: relative;
}
label > .required-star {
  position: absolute;
  right: 0.875rem;
  top: 0.5rem;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  /* font-size: var(--font-base); */
  font-size: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  min-height: 2.5rem;
  border: 0px solid var(--color-bg-accent);
  border-radius: 0.875rem;
  outline: none;
  color: var(--color-text);
  background: var(--color-elevated);
  margin-bottom: 0.5rem;
  width: 100%;
}
input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='tel']::placeholder,
input[type='password']::placeholder {
  color: var(--color-text-muted);
}

.link {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 500;
}
.link:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--color-highlight);
}

#footer-content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: var(--font-sm);
}
/* ===== END ===== */

/* ===== Адаптив ===== */
@media (max-width: 767px) {
  html {
    font-size: 20px;
  }

  .flex-adaptive {
    flex-direction: column !important;
  }

  header nav > ul {
    display: none;
  }

  form {
    width: 100%;
  }

  #footer-content {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 1rem;
  }

  section {
    padding: 1rem 0;
  }

  footer {
    padding: 1rem 0;
  }
}
